########################################################
# This is a template file all possible configuration   #
# properties and their values.                         #
# Concern this file first when writing configurations. #
# If you have access to the code check interface       #
# org.simplug.framework.core.config.Configuration for  #
# a list off all available properties.                 #
########################################################

# Defines the directory where SimPlug should look for plugins
# it is relative to root of the final jar
org.simplug.framework.core.plugindir = "plugins/"

# Name of the configuration file inside the plugins
# Better not change this name unless all plugins are going to
# change their configuration file name otherwise SimPlug
# will not load all of your plugins
org.simplug.framework.core.pluginconf.name = "plugin.conf"

# Decides how the Plugins are analyzed and their lifecycle-
# implementing methods should be found.
# Possible values are: "configurations" and "annotations"
# Only one method will be executed. If you implement both
# methods (annotations and a config file) in your plugin
# this config-property decides what to do.
org.simplug.framework.core.pluginloading = annotations